---
import Box from "@/components/box/index.astro";
import BoxHeader from "@/components/box/header.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxContent from "@/components/box/content.astro";
---

<Box>
  <BoxHeader>
    <BoxTitle>Statistics</BoxTitle>
  </BoxHeader>
  <BoxContent>
    <div class="flex flex-col items-center justify-center">
      <img
        src="../../public/metrics.svg"
        alt="GitHub Metrics"
        class="w-full"
        loading="lazy"
      />
    </div>
  </BoxContent>
</Box>
